#prompt-templates-container {
    color: black;
    background-color: white;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    padding: 16px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .prompt-template {
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  
  .prompt-template:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  
textarea {
    resize: none;
  }